

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/Content/bootstrappage.css" rel="stylesheet" />



    <!-- global styles -->
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/CarouselButton.css" rel="stylesheet" />
    <link href="~/Content/Categ.css" rel="stylesheet" />


    <!-- scripts -->
    <script src="~/Scripts/Categ.js"></script>
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.scrolltotop.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        CATEGORIES
        <a href="/Products/Browse?category=Dresses">Dresses</a>
        <a href="/Products/Browse?category=Costumes">Costumes</a>
        <a href="/Products/Browse?category=Top">Top</a>
        <a href="/Products/Browse?category=Bottom">Bottom</a>
        <a href="/Products/Browse?category=Shoes">Shoes</a>
        <a href="/Products/Browse?category=Accesories">Accesories</a>
        <a href="/Products/Browse?category=Hats">Hats</a>
        <a href="/Products/Browse?category=Make-up">Make-up</a>

        GENDER/AGE CATEGORIES

        <a href="/Products/BrowseGenderCategory?ageCategory=Male">Male</a>
        <a href="/Products/BrowseGenderCategory?ageCategory=Female">Female</a>
        <a href="/Products/BrowseGenderCategory?ageCategory=Kids">Kids</a>

        PRICE
        <a href="/Products/PriceFilterMi?priceMin=50">under 50</a>
        <a href="/Products/PriceFilterMa?priceMax=200">50-200</a>
        <a href="/Products/PriceFilterExp?priceExp=200">above 200</a>

    </div>
    <div class="w3-container">
        @*<h2>@Html.ActionLink("Creepy Suits", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h2>*@
        <img src="~/images/logo.png" style="width:200px" class="site_logo" alt="">

        <div class="w3-bar w3-black">

            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("About", "About", "Home")
            @Html.ActionLink("Contact", "Contact", "Home")
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            @Html.Partial("_LoginPartial")


        </div>


    </div>

    <div id="wrapper" class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="container">
                        <img src="~/images/carousel/visual-featured-halloween-banner-768x427.jpg" style="width: 1500px; height: 462px; position:relative; margin-left: 15px; margin-right: 10px">
                        <button class="btn" type="button">@Html.ActionLink("Go shopping >>", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/carousel/banner1.jpg" style="width: 1500px; height: 462px; position:relative; margin-left: 15px; margin-right: 10px">
                </div>
                <div class="carousel-item">
                    <img src="~/images/carousel/banner.jpg" style="width: 1500px; height: 462px; position:relative; margin-left: 15px; margin-right: 10px">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; CATEGORIES</span>
        <div class="container body-content">
            @*@{ Html.RenderAction("UserIndex", "Products")}*@

            <hr />
            <footer>
                @RenderBody()
                <div class="container">
                    <div class="pagination">
                        @for (int i = 1; i < ViewBag.totalPages; i++)
                        {

                            @*<a href="@Url.Action("UserIndex", "Products", new { page = i })">@i</a>*@
                            <a href="/Products/UserIndex?page=1">&laquo;</a>
                            <a href="/Products/UserIndex?page=1">1</a>

                            <a href="/Products/UserIndex?page=2">2</a>

                            <a href="/Products/UserIndex?page=2">&raquo;</a>

                        }
                    </div>
                </div>
            </footer>


            <script src="~/Scripts/common.js"></script>
            @*@Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")*@
            @RenderSection("scripts", required: false)

        </div>
    </div>
</body>
</html>




