@using CreepySuits.Models
@using CreepySuits.ViewModels
@model CreepySuits.ViewModels.ProductViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/Content/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <a href="index.html" class="logo pull-left"><img src="~/images/logo.png" style="width:200px" class="site_logo" alt=""></a>

            </div>
            
        </div>
    </div>
    <div id="wrapper" class="container">
   

        <section>
            <div class="row">
                <div class="span9">
                    <ul class="thumbnails listing-products">
                        <li class="span3">
                            <div class="product-box">
                                @if (ViewBag.products == null)
                                {
                                    <h3 class="text-error">No items matched your search query!</h3>

                                }
                                else
                                {
                                    foreach (var i in (List<Product>)ViewBag.products)
                                    {
                                        <span class="sale_tag"></span>
                                        <a href=""><img alt="" src="@Url.Content("~/ProjectDocuments/Images/" + i.PicUrl)" width="100"></a><br />
                                        <a href="" class="title">@i.Name</a><br />
                                        <a href="#" class="category">@i.Category</a>
                                        <p class="price">@i.Price</p>
                                        @Html.ActionLink("Details", "Details", new { id = i.ProductId })
                                    }
                                }
                                </div>
                        </li>

                    </ul>
                    <hr>
                    <div class="pagination pagination-small pagination-centered">
                        @for (int j = 1; j <= ViewBag.totalPages; j++)
                        {
                            <ul>
                                <li>
                                    <a class="btn btn-default" href="@Url.Action("UserIndex", "Products", new { page = j })">@j</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>

            </div>
        </section>
       
    </div>
    <script src="~/Scripts/common.js"></script>
</body>
</html>

