@using CreepySuits.Models
@using CreepySuits.ViewModels
@model CreepySuits.ViewModels.ProductViewModel


@if (ViewBag.products == null )
{
    <h3 class="text-error">No items matched your search query!</h3>

}
else
{
    foreach (var i in (List<Product>)ViewBag.products)
    {
        <span class="sale_tag"></span>
        <a href=""><img alt="" src="@Url.Content("~/ProjectDocuments/Images/" + i.PicUrl)"></a><br />
        <a href="" class="title">@i.Name</a><br />
        <a href="#" class="category">@i.Category</a>
        <p class="price">@i.Price</p>
        @Html.ActionLink("Details", "Details", new { id = i.ProductId })
    }
}
