@using CreepySuits.Models
@model CreepySuits.ViewModels.ProductViewModel

@*@{
    ViewBag.Title = "UserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/Content/bootstrappage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- global styles -->
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/Categ.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="~/Scripts/Categ.js"></script>
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .products {
            margin-top: -50px;
        }
    </style>
    <style>
        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }
    </style>

</head>
<body>

    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        CATEGORIES
        <a href="/Products/Browse?category=Dresses">Dresses</a>
        <a href="/Products/Browse?category=Costumes">Costumes</a>
        <a href="/Products/Browse?category=Top">Top</a>
        <a href="/Products/Browse?category=Bottom">Bottom</a>
        <a href="/Products/Browse?category=Shoes">Shoes</a>
        <a href="/Products/Browse?category=Accesories">Accesories</a>
        <a href="/Products/Browse?category=Hats">Hats</a>
        <a href="/Products/Browse?category=Make-up">Make-up</a>

        CATEGORIES
        <a href="/Products/BrowseGenderCategory?ageCategory=Male">Male</a>
        <a href="/Products/BrowseGenderCategory?ageCategory=Female">Female</a>
        <a href="/Products/BrowseGenderCategory?ageCategory=Kids">Kids</a>
    </div>

    <section>
        <div class="row">
            <div class="span9">

                @*<li><a href="/Products/Browse?category=Dresses">@l.CategoryName</a></li>*@

                <ul class="thumbnails listing-products" style="margin-top: -50px">

                    <li class="span3">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; CATEGORIES</span>

                        @foreach (var i in (List<Product>)ViewBag.product)
                        {
                            <span class="sale_tag"></span>
                            <a href=""><img alt="" src="@Url.Content("~/ProjectDocuments/Images/" + i.PicUrl)" width="100"></a><br />
                            <a href="" class="title">@i.Name</a><br />
                            <a href="#" class="category">@i.Category</a>
                            <p class="price">@i.Price</p>
                            @Html.ActionLink("Product Details", "ProductDetails", new { id = i.ProductId })
                            <p class="button">
                                @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = i.ProductId }, "")
                            </p>
                        }


                    </li>

                </ul>

                <hr>

            </div>


        </div>
    </section>
    <div class="container">
        <div class="pagination">
            @for (int i = 1; i < ViewBag.totalPages; i++)
            {

                @*<a href="@Url.Action("UserIndex", "Products", new { page = i })">@i</a>*@
                <a href="/Products/UserIndex?page=1">&laquo;</a>
                <a href="/Products/UserIndex?page=1">1</a>

                <a href="/Products/UserIndex?page=2">2</a>

                <a href="/Products/UserIndex?page=2">&raquo;</a>

            }
        </div>
    </div>

    <script src="~/Scripts/common.js"></script>
</body>
</html>